@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
}

.page {
    height: 500px;
    width: 678px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sidebar {
    width: 150px;
    height: inherit;
    position: relative;
    background-color: #101022;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}
    .sidebar::before{
        background: url("img/sidebar_bg.jpg");
        width: inherit;
        height: 460px;
        content: "";
        z-index: 0;
        opacity: 0.1;
        position: absolute;
        top: 40px;
    }
    .sidebar__top-bar {
        padding: 16px 15px 6px;
        z-index: 1;
        position: relative;
    }
    .sidebar__menu__link {
        color: #fff;
        padding: 14px 15px 17px 15px;
        text-decoration: none;
        font-size: 14px;
        display: block;
        position: relative;
    }
        .sidebar__menu__link:hover,
        .sidebar__menu__link--active {
            background: #292a48;
        }
    .sidebar__menu__amount {
        color: #8a8995;
        text-align: center;
        width: 17px;
        position: absolute;
        right: 13px;
        top: 19px;
        font-size: 13px;
    }
    .sidebar__menu__icon {
        margin: 0 6px 0 0;
        top: 3px;
        position: relative;
    }

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 12px 0 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    height: inherit;
    margin: 0;
    position: relative;
}


.card__header {
    font-size: 12px;
    color: #8a8995;
    margin: 10px 0 7px 0;
    position: relative;
    left: -1px;
    font-weight: normal;
}
.card__item {
    padding: 11px 10px 9px 11px;
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 6px;
    font-size: 15px;
    color: #000;
    width: 442px;
    margin: 5px 0 0;
    position: relative;
    height: 18px;
}
    .card__item__link {
        text-decoration: none;
        color: inherit;
    }
    .card__item__starring {
        position: absolute;
        right: 11px;
        top: 11px;
    }

.icon {
    border: 0;
    display: inline-block;
    text-indent: -1000em;
}
    .icon--github {
        background: url('img/github.png');
        width: 16px;
        height: 16px;
    }
    .icon--information {
        background: url('img/information.png');
        width: 16px;
        height: 16px;
    }
    .icon--closed {
        background: url('img/closed.png');
        width: 16px;
        height: 16px;
    }
    .icon--star {
        background: url('img/star_unactive.png');
        width: 17px;
        height: 16px;
    }
        .icon--star--active {
            background: url('img/star_active.png')
        }

.icon-round {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 6px 0 0;
}
    .icon-round--close {
        background: #ff594f
    }
    .icon-round--minimize {
        background:#ffbc1b
    }
    .icon-round--expand {
        background: #00cd46;
    }

